.header { background: $head-bg;}
.header {background-image: url("http://wx3.sinaimg.cn/large/005GXpqPgy1fznviynnlhj31kw0f2dy2.jpg");}
.header-inner { position: relative; }


@import "headerband";
@import "site-meta";
@import "site-nav";
@import "menu";